// Colors
$color-black: #32394a;
$color-white: #fff;
$color-gray01: #f5f5f5;
$color-gray02: #f9f9f9;
$color-gray03: #8e959b;
$color-blue: #004ea2;

// Text Colors
$text-color-default: $color-black;

// Breakpoints
$breakpoint: 768px;