@use 'variables' as *;
@use 'mixins' as *;
@use 'reset' as *;


// Base style
@font-face {
  font-family: "Oswald";
  src: url("./../fonts/Oswald-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("./../fonts/Oswald-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

:target {
  @include mq-pc {
    scroll-margin-block: 80px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "YuGothic", "Yu Gothic", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  font-size: 14px;
  color: $color-black;

  @include mq-pc {
    font-size: 16px;
  }
}

.base-layout {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;

  @include mq-pc {
    max-width: 1020px;
  }
}

.two-column-layout {
  @include mq-pc {
    display: flex;
    gap: 60px;
  }

  &--reverse {
    @include mq-pc {
      flex-direction: row-reverse;
    }
  }
}

.bg-pattern01 {
  background-color: $color-gray02;
}


// Component style
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;

  @include mq-sp {
    inset: 0;
    pointer-events: none;
  }

  &--overlay {
    @include mq-pc {
      background-color: $color-white;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    }
  }
}

.local-nav {
  $this: &;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 30px;
  height: 80px;
  padding: 0 50px;

  &__list {
    display: flex;
    gap: 30px;
  }

  &__item {
    line-height: 1.5;
    color: $color-white;

    .header--overlay & {
      color: $color-black;
    }
  }

  &__link {
    position: relative;

    &:hover {
      color: rgba(255, 255, 255, .5);

      .header--overlay & {
        color: rgba(50, 57, 74, .5);
      }

      &::after {
        transform: scale(1, 1);
        background-color: rgba(255, 255, 255, .3);

        .header--overlay & {
          transform: none;
        }
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      display: block;
      width: 100%;
      height: 2px;
      transform: scale(0, 1);
      transform-origin: center top;
      transition: transform .2s;
    }
  }
}

.hamburger-btn {
  $this: &;
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 2;
  width: 30px;
  height: 20px;
  background: none;
  border: 0;
  cursor: pointer;
  pointer-events: initial;

  &__line {
    display: block;
    width: 30px;
    height: 2px;
    background-color: $color-white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: all .5s;

    +.hamburger-btn__line {
      margin-top: 6px;
    }

    #{$this}--active & {
      &:nth-of-type(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
      }

      &:nth-of-type(2) {
        opacity: 0;
      }

      &:nth-of-type(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }
}

.hamburger-menu {
  position: absolute;
  top: 0;
  right: -250px;
  bottom: 0;
  display: block;
  width: 250px;
  padding: 80px 20px;
  background: $color-black;
  transition: all .5s;
  z-index: 1;
  opacity: 0;
  pointer-events: initial;

  &--open {
    right: 0;
    opacity: 1;
  }

  &__bg {
    position: absolute;
    inset: 0;
    right: -250px;
    width: 100vw;
    margin-left: calc(250px - 100vw);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    pointer-events: none;

    .hamburger-menu--open & {
      pointer-events: initial;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    gap: 20px;
  }

  &__link {
    font-size: 18px;
    color: $color-white;
  }
}

.lang-btn {
  $this: &;
  display: flex;
  align-items: center;
  padding: 4px 8px;
  gap: 5px;
  background-color: $color-gray01;
  border-radius: 12px;

  &:hover {
    #{$this}__icon {
      background-color: $color-blue;
    }

    #{$this}__text {
      color: $color-blue;
    }
  }

  &__icon {
    width: 18px;
    height: 18px;
    -webkit-mask: url("data:image/svg+xml;base64,PHN2ZyBpZD0iT3V0bGluZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCI+IDxkZWZzPiA8c3R5bGU+IC5jbHMtMSB7IGZpbGw6IG5vbmU7IH0gPC9zdHlsZT4gPC9kZWZzPiA8Zz4gPHBhdGggZD0iTTMyLjcwNDEsMTAuMjk5OGMtLjAwOTQ2LS4wMTM2MS0uMDI0NDEtLjAyMDA4LS4wMzQ0Mi0uMDMzMDhhMTUuOTQwNzgsMTUuOTQwNzgsMCwwLDAtMjUuMzM5MjQtLjAwMDE4Yy0uMDEuMDEzMDYtLjAyNTA4LjAxOTUzLS4wMzQ1NC4wMzMyNi0uMDA2NTMuMDA5NDctLjAwNjkuMDIwODItLjAxMzA2LjAzMDRhMTUuODgyOSwxNS44ODI5LDAsMCwwLDAsMTkuMzM5NmMuMDA2MTYuMDA5NTguMDA2NTMuMDIwOTMuMDEzMDYuMDMwNC4wMDk0LjAxMzYxLjAyNDQxLjAyLjAzNDM2LjAzM2ExNS45NDA2NiwxNS45NDA2NiwwLDAsMCwyNS4zNDU4My0uMDA4NDljLjAwNzgxLS4wMTAzMS4wMjA1Ny0uMDEzNzkuMDI4LS4wMjQ1My4wMDY1My0uMDA5NDcuMDA2OS0uMDIwODIuMDEzMDYtLjAzMDRhMTUuODgyOSwxNS44ODI5LDAsMCwwLDAtMTkuMzM5NkMzMi43MTEsMTAuMzIwNjIsMzIuNzEwNjMsMTAuMzA5MjcsMzIuNzA0MSwxMC4yOTk4Wk0zMS42MjE4OSwyNy43OTU2NWExNy40NjkzLDE3LjQ2OTMsMCwwLDAtMy4zMTkyOC0xLjUwNzM4QTI3LjI5ODE1LDI3LjI5ODE1LDAsMCwwLDI4Ljk3MjQ3LDIxaDQuOTc2ODdBMTMuOTA5NjUsMTMuOTA5NjUsMCwwLDEsMzEuNjIxODksMjcuNzk1NjVaTTYuMDUwNjYsMjFoNC45NzY4N2EyNy4yOTgxNSwyNy4yOTgxNSwwLDAsMCwuNjY5ODYsNS4yODgyNywxNy40NjkzLDE3LjQ2OTMsMCwwLDAtMy4zMTkyOCwxLjUwNzM4QTEzLjkwOTY1LDEzLjkwOTY1LDAsMCwxLDYuMDUwNjYsMjFabTIuMzI3NDUtOC43OTU2NWExNy40NjkzLDE3LjQ2OTMsMCwwLDAsMy4zMTkyOCwxLjUwNzM4QTI3LjI5ODE1LDI3LjI5ODE1LDAsMCwwLDExLjAyNzUzLDE5SDYuMDUwNjZBMTMuOTA5NjUsMTMuOTA5NjUsMCwwLDEsOC4zNzgxMSwxMi4yMDQzNVpNMjEsMTQuOTY5MTJhMjYuOTkzMDYsMjYuOTkzMDYsMCwwLDAsNS4zNTQ0OS0uNzA2MjRBMjUuMTY4NTYsMjUuMTY4NTYsMCwwLDEsMjYuOTczNzUsMTlIMjFaTTIxLDEyLjk3VjYuMTY3MjRjMS45ODUuNTk4MjYsMy43MjkzNywyLjkyMyw0LjgxNzc1LDYuMTczQTI1LjAyMzUsMjUuMDIzNSwwLDAsMSwyMSwxMi45N1pNMTksNi4xNjcyNFYxMi45N2EyNS4wMjM1LDI1LjAyMzUsMCwwLDEtNC44MTc3NS0uNjI5N0MxNS4yNzA2Myw5LjA5MDI3LDE3LjAxNSw2Ljc2NTUsMTksNi4xNjcyNFptMCw4LjgwMTg4VjE5SDEzLjAyNjI1YTI1LjE2ODU2LDI1LjE2ODU2LDAsMCwxLC42MTkyNi00LjczNzEyQTI2Ljk5MzA2LDI2Ljk5MzA2LDAsMCwwLDE5LDE0Ljk2OTEyWk0xMy4wMjYyNSwyMUgxOXY0LjAzMDg4YTI2Ljk5MzA2LDI2Ljk5MzA2LDAsMCwwLTUuMzU0NDkuNzA2MjRBMjUuMTY4NTYsMjUuMTY4NTYsMCwwLDEsMTMuMDI2MjUsMjFaTTE5LDI3LjAzdjYuODAyNzNjLTEuOTg1LS41OTgyNi0zLjcyOTM3LTIuOTIzLTQuODE3NzUtNi4xNzNBMjUuMDIzNSwyNS4wMjM1LDAsMCwxLDE5LDI3LjAzWm0yLDYuODAyNzNWMjcuMDNhMjUuMDIzNSwyNS4wMjM1LDAsMCwxLDQuODE3NzUuNjI5N0MyNC43MjkzNywzMC45MDk3MywyMi45ODUsMzMuMjM0NSwyMSwzMy44MzI3NlptMC04LjgwMTg4VjIxaDUuOTczNzVhMjUuMTY4NTYsMjUuMTY4NTYsMCwwLDEtLjYxOTI2LDQuNzM3MTJBMjYuOTkzMDYsMjYuOTkzMDYsMCwwLDAsMjEsMjUuMDMwODhaTTI4Ljk3MjQ3LDE5YTI3LjI5ODE1LDI3LjI5ODE1LDAsMCwwLS42Njk4Ni01LjI4ODI3LDE3LjQ2OTMsMTcuNDY5MywwLDAsMCwzLjMxOTI4LTEuNTA3MzhBMTMuOTA5NjUsMTMuOTA5NjUsMCwwLDEsMzMuOTQ5MzQsMTlabTEuMzk4MDctOC4zNzE2NGExNS42NDkwOSwxNS42NDkwOSwwLDAsMS0yLjYxNjY5LDEuMTY2NzQsMTUuOTIyMjcsMTUuOTIyMjcsMCwwLDAtMi40MDkzNy00LjcyOTc5QTE0LjA0MDU2LDE0LjA0MDU2LDAsMCwxLDMwLjM3MDU0LDEwLjYyODM2Wm0tMTUuNzE1LTMuNTYzMDVhMTUuOTIxNjYsMTUuOTIxNjYsMCwwLDAtMi40MDk0Myw0LjcyOTc5LDE1LjY0OTA5LDE1LjY0OTA5LDAsMCwxLTIuNjE2NjktMS4xNjY3NEExNC4wNDEzLDE0LjA0MTMsMCwwLDEsMTQuNjU1NTgsNy4wNjUzMVpNOS42Mjk0NiwyOS4zNzE2NGExNS42NDkwOSwxNS42NDkwOSwwLDAsMSwyLjYxNjY5LTEuMTY2NzQsMTUuOTIxNjYsMTUuOTIxNjYsMCwwLDAsMi40MDk0Myw0LjcyOTc5QTE0LjA0MTMsMTQuMDQxMywwLDAsMSw5LjYyOTQ2LDI5LjM3MTY0Wm0xNS43MTUsMy41NjMwNWExNS45MjIyNywxNS45MjIyNywwLDAsMCwyLjQwOTM3LTQuNzI5NzksMTUuNjQ5MDksMTUuNjQ5MDksMCwwLDEsMi42MTY2OSwxLjE2Njc0QTE0LjA0MDU2LDE0LjA0MDU2LDAsMCwxLDI1LjM0NDQ4LDMyLjkzNDY5WiIvPiA8cmVjdCBjbGFzcz0iY2xzLTEiIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIvPiA8L2c+PC9zdmc+") no-repeat center / contain;
    mask: url("data:image/svg+xml;base64,PHN2ZyBpZD0iT3V0bGluZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCI+IDxkZWZzPiA8c3R5bGU+IC5jbHMtMSB7IGZpbGw6IG5vbmU7IH0gPC9zdHlsZT4gPC9kZWZzPiA8Zz4gPHBhdGggZD0iTTMyLjcwNDEsMTAuMjk5OGMtLjAwOTQ2LS4wMTM2MS0uMDI0NDEtLjAyMDA4LS4wMzQ0Mi0uMDMzMDhhMTUuOTQwNzgsMTUuOTQwNzgsMCwwLDAtMjUuMzM5MjQtLjAwMDE4Yy0uMDEuMDEzMDYtLjAyNTA4LjAxOTUzLS4wMzQ1NC4wMzMyNi0uMDA2NTMuMDA5NDctLjAwNjkuMDIwODItLjAxMzA2LjAzMDRhMTUuODgyOSwxNS44ODI5LDAsMCwwLDAsMTkuMzM5NmMuMDA2MTYuMDA5NTguMDA2NTMuMDIwOTMuMDEzMDYuMDMwNC4wMDk0LjAxMzYxLjAyNDQxLjAyLjAzNDM2LjAzM2ExNS45NDA2NiwxNS45NDA2NiwwLDAsMCwyNS4zNDU4My0uMDA4NDljLjAwNzgxLS4wMTAzMS4wMjA1Ny0uMDEzNzkuMDI4LS4wMjQ1My4wMDY1My0uMDA5NDcuMDA2OS0uMDIwODIuMDEzMDYtLjAzMDRhMTUuODgyOSwxNS44ODI5LDAsMCwwLDAtMTkuMzM5NkMzMi43MTEsMTAuMzIwNjIsMzIuNzEwNjMsMTAuMzA5MjcsMzIuNzA0MSwxMC4yOTk4Wk0zMS42MjE4OSwyNy43OTU2NWExNy40NjkzLDE3LjQ2OTMsMCwwLDAtMy4zMTkyOC0xLjUwNzM4QTI3LjI5ODE1LDI3LjI5ODE1LDAsMCwwLDI4Ljk3MjQ3LDIxaDQuOTc2ODdBMTMuOTA5NjUsMTMuOTA5NjUsMCwwLDEsMzEuNjIxODksMjcuNzk1NjVaTTYuMDUwNjYsMjFoNC45NzY4N2EyNy4yOTgxNSwyNy4yOTgxNSwwLDAsMCwuNjY5ODYsNS4yODgyNywxNy40NjkzLDE3LjQ2OTMsMCwwLDAtMy4zMTkyOCwxLjUwNzM4QTEzLjkwOTY1LDEzLjkwOTY1LDAsMCwxLDYuMDUwNjYsMjFabTIuMzI3NDUtOC43OTU2NWExNy40NjkzLDE3LjQ2OTMsMCwwLDAsMy4zMTkyOCwxLjUwNzM4QTI3LjI5ODE1LDI3LjI5ODE1LDAsMCwwLDExLjAyNzUzLDE5SDYuMDUwNjZBMTMuOTA5NjUsMTMuOTA5NjUsMCwwLDEsOC4zNzgxMSwxMi4yMDQzNVpNMjEsMTQuOTY5MTJhMjYuOTkzMDYsMjYuOTkzMDYsMCwwLDAsNS4zNTQ0OS0uNzA2MjRBMjUuMTY4NTYsMjUuMTY4NTYsMCwwLDEsMjYuOTczNzUsMTlIMjFaTTIxLDEyLjk3VjYuMTY3MjRjMS45ODUuNTk4MjYsMy43MjkzNywyLjkyMyw0LjgxNzc1LDYuMTczQTI1LjAyMzUsMjUuMDIzNSwwLDAsMSwyMSwxMi45N1pNMTksNi4xNjcyNFYxMi45N2EyNS4wMjM1LDI1LjAyMzUsMCwwLDEtNC44MTc3NS0uNjI5N0MxNS4yNzA2Myw5LjA5MDI3LDE3LjAxNSw2Ljc2NTUsMTksNi4xNjcyNFptMCw4LjgwMTg4VjE5SDEzLjAyNjI1YTI1LjE2ODU2LDI1LjE2ODU2LDAsMCwxLC42MTkyNi00LjczNzEyQTI2Ljk5MzA2LDI2Ljk5MzA2LDAsMCwwLDE5LDE0Ljk2OTEyWk0xMy4wMjYyNSwyMUgxOXY0LjAzMDg4YTI2Ljk5MzA2LDI2Ljk5MzA2LDAsMCwwLTUuMzU0NDkuNzA2MjRBMjUuMTY4NTYsMjUuMTY4NTYsMCwwLDEsMTMuMDI2MjUsMjFaTTE5LDI3LjAzdjYuODAyNzNjLTEuOTg1LS41OTgyNi0zLjcyOTM3LTIuOTIzLTQuODE3NzUtNi4xNzNBMjUuMDIzNSwyNS4wMjM1LDAsMCwxLDE5LDI3LjAzWm0yLDYuODAyNzNWMjcuMDNhMjUuMDIzNSwyNS4wMjM1LDAsMCwxLDQuODE3NzUuNjI5N0MyNC43MjkzNywzMC45MDk3MywyMi45ODUsMzMuMjM0NSwyMSwzMy44MzI3NlptMC04LjgwMTg4VjIxaDUuOTczNzVhMjUuMTY4NTYsMjUuMTY4NTYsMCwwLDEtLjYxOTI2LDQuNzM3MTJBMjYuOTkzMDYsMjYuOTkzMDYsMCwwLDAsMjEsMjUuMDMwODhaTTI4Ljk3MjQ3LDE5YTI3LjI5ODE1LDI3LjI5ODE1LDAsMCwwLS42Njk4Ni01LjI4ODI3LDE3LjQ2OTMsMTcuNDY5MywwLDAsMCwzLjMxOTI4LTEuNTA3MzhBMTMuOTA5NjUsMTMuOTA5NjUsMCwwLDEsMzMuOTQ5MzQsMTlabTEuMzk4MDctOC4zNzE2NGExNS42NDkwOSwxNS42NDkwOSwwLDAsMS0yLjYxNjY5LDEuMTY2NzQsMTUuOTIyMjcsMTUuOTIyMjcsMCwwLDAtMi40MDkzNy00LjcyOTc5QTE0LjA0MDU2LDE0LjA0MDU2LDAsMCwxLDMwLjM3MDU0LDEwLjYyODM2Wm0tMTUuNzE1LTMuNTYzMDVhMTUuOTIxNjYsMTUuOTIxNjYsMCwwLDAtMi40MDk0Myw0LjcyOTc5LDE1LjY0OTA5LDE1LjY0OTA5LDAsMCwxLTIuNjE2NjktMS4xNjY3NEExNC4wNDEzLDE0LjA0MTMsMCwwLDEsMTQuNjU1NTgsNy4wNjUzMVpNOS42Mjk0NiwyOS4zNzE2NGExNS42NDkwOSwxNS42NDkwOSwwLDAsMSwyLjYxNjY5LTEuMTY2NzQsMTUuOTIxNjYsMTUuOTIxNjYsMCwwLDAsMi40MDk0Myw0LjcyOTc5QTE0LjA0MTMsMTQuMDQxMywwLDAsMSw5LjYyOTQ2LDI5LjM3MTY0Wm0xNS43MTUsMy41NjMwNWExNS45MjIyNywxNS45MjIyNywwLDAsMCwyLjQwOTM3LTQuNzI5NzksMTUuNjQ5MDksMTUuNjQ5MDksMCwwLDEsMi42MTY2OSwxLjE2Njc0QTE0LjA0MDU2LDE0LjA0MDU2LDAsMCwxLDI1LjM0NDQ4LDMyLjkzNDY5WiIvPiA8cmVjdCBjbGFzcz0iY2xzLTEiIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIvPiA8L2c+PC9zdmc+") no-repeat center / contain;
    background-color: $color-black;
  }

  &__text {
    line-height: 1;
    font-size: 13px;
    color: $color-black;
  }
}

.hero {
  display: grid;
  place-items: center;

  &__inner {
    grid-area: 1/1;
    width: 100%;
    max-width: 960px;
    padding-right: 30px;
    padding-left: 30px;
  }

  &__title {
    justify-self: start;
    color: $color-white;
    font-family: "Oswald", sans-serif;
    font-size: 8vw;

    @include mq-pc {
      font-size: 50px;
    }

    span {
      font-size: .5em;
    }
  }

  &__bg {
    grid-area: 1/1;
    width: 100%;
    z-index: -1;
  }
}

.particles {
  width: 100%;
  height: 100%;
  grid-area: 1/1;
  pointer-events: none;
  overflow: hidden;
}

.particle {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  width: 10px;
  height: 10px;
  animation: float 7s ease-in-out infinite;

  &:nth-child(1) {
    width: 8px;
    height: 8px;
    top: 50%;
    left: 15%;
    animation-duration: 15s;
  }

  &:nth-child(2) {
    width: 14px;
    height: 14px;
    top: 30%;
    left: 35%;
    animation-duration: 20s;
  }

  &:nth-child(3) {
    width: 10px;
    height: 10px;
    top: 40%;
    left: 60%;
    animation-duration: 17s;
  }

  &:nth-child(4) {
    width: 18px;
    height: 18px;
    top: 65%;
    left: 75%;
    animation-duration: 19s;
  }

  &:nth-child(5) {
    width: 8px;
    height: 8px;
    top: 40%;
    left: 85%;
    animation-duration: 16s;
  }

  &:nth-child(6) {
    width: 12px;
    height: 12px;
    top: 75%;
    left: 45%;
    animation-duration: 18s;
  }
}

@keyframes float {
  0% {
    transform: translate(0, 0);
    opacity: 0.3;
  }

  70% {
    opacity: 0.25;
  }

  100% {
    transform: translate(6px, -200px);
    opacity: 0;
  }
}

.heading {
  font-weight: bold;

  &--level-2 {
    font-size: 24px;

    @include mq-pc {
      font-size: 32px;
    }
  }

  &--level-3 {
    display: flex;
    align-items: center;
    font-size: 18px;

    &::before {
      content: "";
      display: block;
      width: 14px;
      height: 14px;
      margin-right: 7px;
      background-color: $color-black;
      border-radius: 3px;
    }
  }
}

.checkbox-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  @include mq-pc {
    gap: 50px;
  }
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;

  &__input {
    position: relative;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid $color-black;
    border-radius: 5px;
    background-color: $color-white;

    @include mq-pc {
      width: 28px;
      height: 28px;
    }

    &:checked {
      &::after {
        content: "";
        position: absolute;
        inset: 0;
        display: block;
        width: 20px;
        height: 20px;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJfeDMyXyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiBzdHlsZT0id2lkdGg6IDI1NnB4OyBoZWlnaHQ6IDI1NnB4OyBvcGFjaXR5OiAxOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHN0eWxlIHR5cGU9InRleHQvY3NzIj4JLnN0MHtmaWxsOiM0QjRCNEI7fTwvc3R5bGU+PGc+CTxwb2x5Z29uIGNsYXNzPSJzdDAiIHBvaW50cz0iNDQwLjQ2OSw3My40MTMgMjE4LjM1NywyOTUuNTI1IDcxLjUzMSwxNDguNzA5IDAsMjIwLjIyOSAxNDYuODI2LDM2Ny4wNTUgMjE4LjM1Nyw0MzguNTg3IDI4OS44NzgsMzY3LjA1NSA1MTIsMTQ0Ljk0NSAiIHN0eWxlPSJmaWxsOiByZ2IoNTAsIDU3LCA3NCk7Ij48L3BvbHlnb24+PC9nPjwvc3ZnPg==");

        @include mq-pc {
          width: 28px;
          height: 28px;
        }
      }
    }
  }

  &__label {
    @include mq-pc {
      font-size: 18px;
    }
  }
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 30px;
  max-width: 600px;
  min-height: 100px;
  margin: 0 auto;
  padding: 20px 40px;
  background-color: $color-white;
  border: solid 1px $color-black;

  @include mq-pc {
    gap: 40px;
  }
}

.footer {
  padding: 30px;
  text-align: center;
  color: $color-white;
  background-color: $color-gray03;

  @include mq-pc {
    padding: 50px 30px;
  }
}


// Utilities
.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

@include create-space-class('.mt-', 'margin-top');
@include create-space-class('.mb-', 'margin-bottom');
@include create-space-class('.pt-', 'padding-top');
@include create-space-class('.pb-', 'padding-bottom');

.text-center {
  text-align: center;
}

.sp-only {
  @include mq-pc {
    display: none;
  }
}

.pc-only {
  @include mq-sp {
    display: none;
  }
}